<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<link rel="stylesheet" href="/css/style.css">
<body>
    <h1 class="titles">Change password</h1>
   
    <form action="/changenewpassword" method="post" class="formbox">
        <input hidden value="<%= csrfToken %>" name="_csrf">
        <input hidden value="<%= token %>" name="token">
        <input hidden value="<%= user_id %>" name="user_id">

        <% if(errormsg) { %>
            <p class="errormsg"><%= errormsg %></p>
            <% } %>
            
        <div class="filldata">
             <label for="password">password
            </label>
            <input  id="psssword" type="password" name="password" value="<%= oldformData.password %>">
        </div>
        <div class="filldata">
            <label for="password">conform password
            </label>
            <input  id="psssword" type="password" name="conform_password" value="<%= oldformData.conform_password %>">
        </div>
        
        <button>Change Password</button>
    </form>
        <a href="/" class="backhome">back home</a>
   
</body>
</html>