<%- include("./include/head") %>
<body>
    <h1 class="titles"> detials page</h1>
   <hr>
   
    <div class="card">
        
        <h3 class="post_title"><%= post.title %></h3>
        <hr>
        <p><%= post.description %></p>
    </div>
    <hr>
    <div class="mgbtncontainer">
        <form  class="dform" method="post" action="/admin/post/<%= post._id %>">
          <button  class=" delete"> delete</button>
        </form>
       
        <a href="/admin/updatepost/<%= post._id %>" class="mgbtn">edit</a>
    </div>
   
</body>
<%- include("./include/foot") %>