<%- include("./include/head") %>
<body>
    <h1 class="titles"> BLOG.io</h1>
    <p class="text text-start p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt velit voluptatum, numquam ab perspiciatis sequi? Totam ab nulla odit ad dolorum laudantium sint aperiam expedita cumque vel, officiis nostrum hic!
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur eius assumenda error quae, quidem commodi, odit adipisci optio cumque voluptatum praesentium maiores eos dignissimos nulla? Odio ipsa modi consectetur id.
        
    </p>
    <p class="h3"> <%= currentUserEmail %></p>
    <% if(islogin){ %>
        <div class="d-flex justify-content-center">
                <div class="m-3 mt-4">
                    <a href="/admin/createpost" class="addpost ">Add post</a>
                </div>
            <form action="/logout" method="post" class="logoutform m-3">
                <input hidden value="<%= csrfToken %>" name="_csrf">
                 <button class="logout">logout</button>
             </form>
        </div>
<% } else {%>
   <div class="d-flex justify-content-center">
                <a href="/login" class="addpost m-3">login </a>      
          
                <a href="/register" class="addpost m-3">register</a>
            </div>
    <% } %>
    <hr>
    <h1 class="titles">recent posts</h1>
    <% if(postarr.length==0) {%>
        <h2>no post yet</h2>
    <%}%>
    <section id="post" class="container">
  
                <% for(let post of postarr) { %>  
    </div>
    <div class="card">
        <h5 class="card-header"><%= post.userId.email %></h5>
        <div class="card-body">
          <h5 class="card-title"><%= post.title %></h5>
          <p class="card-text"><%= post.description.substr(0,200) %>...</p>
          <a href="/post/<%= post._id %>" class="btn btn-info">seemore</a>
        </div>
      </div>
    <% } %>

</section>
<hr>
<div>
    <% if(hasNextPage && currentPage == 1) { %>
        <a class="btn" href="/?page=2">Next</a>
        <% } %>
    <% if(hasNextPage && nextPage > 2) { %>
        <div class="container d-flex flex-row flex-nowrap justify-content-lg-between justify-content-md-center justify-content-sm-center">
            <a class="btn" href="/?page=<%= previousPage %>">previous</a>
            <a class="btn" href="/?page=<%= nextPage %>">Next</a>
        </div>
        <% } %>
    <% if(!hasNextPage) { %>
        <a class="btn" href="/?page=<%= previousPage %>">previous</a>
        <% } %>

</div>
</body>
<%- include("./include/foot") %>
